<div class="container">
    <h1>Sistema <input type="text" #x (keyup)="0"></h1>   

          <div class="list-group" *ngFor="let sistema of sistemas">   
            <div *ngIf="(filter(sistema,x.value)) || !(x.value)">                          
              <div class="row">
                <div class="col-md-4"> 
                  <label class="form-control-label">Codigo:</label> {{sistema.codigo}} 
                </div>
              </div>
              <div class="row">
                 <div class="col-md-4"> 
                    <label class="form-control-label">Sigla:</label>{{sistema.sigla}} 
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="form-control-label">Descrição:</label>{{sistema.descricao}}
                </div>
              </div>            
          </div>
        </div>              
    </div>