<nav class="navbar navbar-inverse bg-inverse">
<!--
  <a routerLink="/cadastroSistema" routerLinkActive="active" class="navbar-brand">Cadastro Sistema</a>
  <a routerLink="/cadastroProcuracao" routerLinkActive="active" class="navbar-brand">Cadastro Procuração</a>
-->
  <a routerLink="/consultaSistema" routerLinkActive="active" class="navbar-brand">Consulta Sistema</a>
  <a routerLink="/consultaProcuracao" routerLinkActive="active" class="navbar-brand">Consulta Procuração</a>
   
  <a routerLink="/" routerLinkActive="active" class="navbar-brand">Home</a>
</nav>

<router-outlet></router-outlet>