<div class="container">
    <h1>Procurações</h1>

   
   <div class="row">
      <table class="table table-striped table-hover">
        <thead class="thead-inverse">
          <tr>
            <th><div class="glyphicon glyphicon-chevron-down" (click)="ordenar('niTitular',$event)">Titular</div></th>
            <th><div class="glyphicon glyphicon-chevron-down" (click)="ordenar('niProcurador',$event)">Procurador</div></th>
            <th><div class="glyphicon glyphicon-chevron-down" (click)="ordenar('dtInicioVigencia',$event)">Inicio Vigencia</div></th>
            <th><div class="glyphicon glyphicon-chevron-down" (click)="ordenar('dtFimVigencia',$event)">Fim Vigencia</div></th>
            <th><div class="glyphicon glyphicon-chevron-down" (click)="ordenar('status',$event)">Status</div></th>
            <th>Operação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proc of procuracoes | orderBy : ord : rev">
            <td> {{proc.niTitular}}</td>
            <td> {{proc.niProcurador}}</td>
            <td> {{proc.dtInicioVigencia}}</td>
            <td> {{proc.dtFimVigencia}}</td>
            <td> {{proc.status}}</td>
            <td><div (click)="cancelar(proc)" class="glyphicon glyphicon-remove-sign" title="Cancelar Procuração"></div></td>
          </tr>
        </tbody>
      </table>
    </div>

</div>